/poetry.lock

__pycache__
dist/
*.cpython-37.pyc
/venv/
/.idea/
/.pytest_cache/
/.spyproject/
/.vscode/
/build/
*.lock
requirements.txt
/.autosrc
/kite-installer
/docs
/dev_tools/bump/bump.py
/source/conf.py
/source/index.rst
/source/inspyre_toolbox.console_kit.rst
/source/inspyre_toolbox.conversions.roman_numerals.rst
/source/inspyre_toolbox.conversions.rst
/source/inspyre_toolbox.core_helpers.rst
/source/inspyre_toolbox.humanize.errors.rst
/source/inspyre_toolbox.humanize.rst
/source/inspyre_toolbox.live_timer.rst
/source/inspyre_toolbox.proc_man.rst
/source/inspyre_toolbox.pypi.rst
/source/inspyre_toolbox.rst
/source/inspyre_toolbox.spanners.rst
/source/inspyre_toolbox.syntactic_sweets.rst
/source/inspyre_toolbox.sys_man.rst
/make.bat
/Makefile
/source/modules.rst
/examples/.ipynb_checkpoints/notebook-checkpoint.ipynb
/tests/test_inspyre_toolbox.py
/tests/test_inspyre_toolbox_failing.py
